h2 #{recipe.name}

div(class='col s6')
    img(src="https://img.icons8.com/material/24/000000/human-head.png" style='float:left; margin-right:10px')
    div Designed by #{recipe.author}
div(class='col s6')
    img(src="https://img.icons8.com/material/24/000000/human-head.png" style='float:left; margin-right:10px')
    div #{recipe.style.name}
div(class='col s6')
    img(src='https://img.icons8.com/material/24/000000/wooden-beer-keg' style='float:left; margin-right:10px')
    div Batchsize #{recipe.batchSize} L