#search-icon {
    float: right;
    margin-top: -40px;
}

#nav-wrapper-top {
    transition: background-color 2000ms;
}



/* recipe view */
#recipe_view {
    font-size: 15px;
}
#recipe_view .section {
    margin-top: 40px;
}

.characteristics {
    margin-left: 40px;
    line-height: 30px;
}

.characteristics .c-name {
}

.characteristics .c-value {
}


/* style-bar */
.style-bar {
    height: 5px;
    position: absolute;
}

.style-bar-div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.style-bar-background {
    background-color: lightgray;
    width: 150px;
}


.style-bar-style {
    background-color: orange;
}


.style-bar-marker {
    background-color: red;
    width: 2px;
}
